<ion-content>
  <!-- <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8" size-xl="6">
        About page.
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        PhoneSpec
      </ion-card-title>

      <ion-card-subtitle>
        AP5PM
      </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      This app was created for study purposes with no intent of commercial use.
      <div><br>Icons made by <a href="https://www.flaticon.com/authors/azmianshori"> azmianshori</a> and <a href="https://www.ionic.io/ionicons">ionicons.com<br><br></a></div>
      <ion-grid>
        <ion-row>
          <ion-icon name="logo-github" size="small"></ion-icon> /DomoUTB, 2021
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
