<ion-content padding>
  <ion-searchbar showCancelButton="never" animated placeholder="iPhone 13"
    enterkeyhint="search" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)">
  </ion-searchbar>

  <ion-list>
    <ion-item button *ngFor="let phone of results | async"
      [routerLink]="['/', 'phones', phone.slug]">
      <ion-avatar slot="start">
        <img [src]="phone.image" *ngIf="phone.image !== null">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ phone.phone_name }}</h3>
        {{ phone.brand }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>